<div class="container">
    <div class="header">
        <h3><span>- Your Diary -</span></h3>
    </div>
    <div *ngIf="show" class="diarylist">
        <div *ngFor="let details of lists | async" class="list-group" >
            <div class="list-group-item" id="listitems" (click)="getdetails(details)">
                <label>{{details.date}}</label>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="!show">
        <div class="card-header">
            <button class="basic-btn"  (click)="show=true"><i class="material-icons">
                arrow_back
                </i>Back</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{details.imageName}}" alt="Image of the day" class="img-responsive fit-image">
                </div>
                <div class="col md-9">
                    <p class="text-justify">{{details.data}}</p>
                </div>
            </div>
        </div>
    </div>
</div>